.letter-box.results.float-left
  = link_to "#{image_tag diseno.image.url(:medium), onerror: "this.onerror=null; this.src='/images/missing_design_medium.png';"}<br />#{diseno.nombre_de_orden}".html_safe , diseno_path(diseno)