%ol
  - fields_for @diseno do |diseno|
    - diseno.fields_for :hilos do |hilo_form|
      %li
        = hilo_form.select :marca_id, Marca.all_cached.collect{ |m| [m[:nombre], m[:id]] }, {:include_blank => "Marca"}, {:class => "marca"}
        = hilo_form.select :color_id, Color.all_cached.collect{ |m| [m[:nombre], m[:id]] }, {:include_blank => "Color"}, {:class => "color"}
        -unless hilo_form.object.new_record?
          = hilo_form.label :_delete, 'Eliminar:'
          = hilo_form.check_box :_delete
        