.float-left#images
  - if @diseno.image.exists?
    #image_div.results
      = image_tag image_url(@diseno)
.float-left
  - if @diseno.original.exists?
    .results
      = image_tag original_url(@diseno)