<% page_title "Nuevo Diseno"  %>
<h1><%= yield :title %></h1>
<div class="results" id="orden">
	<% form_tag diseno_path(@diseno),:multipart => true,:method => :put do -%>
		<h2>Image:</h2><%= file_column_field "diseno", "image" %>
		<h2>Archivo de DST:</h2><%= file_column_field "diseno", "archivo_dst" %>
		<h2>Archivo de PES:</h2><%= file_column_field "diseno", "archivo_pes" %>
	<% end %>
</div>
<% button_2 "upload =>",'#',:onclick => "document.forms[0].submit()" %>