- page_title "Nuevo Diseno"
%h1= yield :title
#orden.results
  - form_tag diseno_path(@diseno),:multipart => true,:method => :put do
    %h2 Image:
    = file_field "diseno", "image"
    %h2 Archivo de DST:
    = file_field "diseno", "archivo_dst"
    %h2 Archivo de PES:
    = file_field "diseno", "archivo_pes"
- button_2 "upload =>",'#',:onclick => "document.forms[0].submit()"
