-javascripts "disenos_index"
-page_title "Buscar Diseños"
.search
  %h1 Buscar
  %p
    - for letter in @letters
      = link_to letter.char, letter
  - form_tag({},:method => :get) do
    = text_field_tag :search, params[:search]
    = submit_tag "Submit"
#results= render :partial => 'diseno', :collection => @disenos
- button_2("Nuevo =>",new_diseno_path)
