.timeline {
  width: 400px;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px; }

#top-bar {
  padding: 2px;
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.center-text {
  width: 400px;
  margin-left: auto;
  margin-right: auto; }

#top-search {
  position: absolute;
  top: 8px;
  right: 10px; }

.clear {
  clear: both; }

#busy {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 10em 0.2em 0.2em; }

.results {
  border-spacing: 0px;
  padding: 5px; }

.title {
  font-style: italic;
  text-align: center; }
  .title th {
    padding: 10px; }

.even {
  text-align: center; }
  .even td {
    padding: 5px; }

.odd {
  text-align: center; }
  .odd td {
    padding: 5px; }

html {
  height: 99%; }

body {
  height: 99%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px; }

.footer {
  padding: 2px;
  text-align: center;
  width: auto; }
  .footer .push {
    height: 20px; }

body {
  background-color: #fff;
  color: #333;
  background-image: url(../images/SBC.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

ol {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

div .three {
  float: left;
  font-weight: bold;
  width: 113px;
  height: 25px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }
