- @events.each do |event|
  %p
    = "#{event.event_type} - #{link_to event.subject.nombre_de_orden, diseno_path(event.subject.id)}"
    - if event.subject.image.exists?
      = image_tag event.subject.image_url(:small)