# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0705af06cf5fc5153b21251fbaf86de35832e6b8d4c9d6f0dde684d842eb47a2b54214aa49cc490516db1f4ef8f66fbca50b966e39780835273eaf2779c97dac

test:
  secret_key_base: 91fb61eee421f5c9e7cf79ca2b8c46a852fa76dd7dc32ffee024f837caf62379b509930525f65e259724406d50f4a47f2ca331f372f932fd083efe6cd2659923

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
