:javascript
  $(document).ready(function() {
    // Check if ColorPicker plugin is available
    if (typeof $.fn.ColorPicker === 'undefined') {
      console.error('ColorPicker plugin is not loaded!');
      return;
    }

    // Add the "Add Color" link
    var addColorLink = $('<p><a href="#" id="add_color_link">Add Color</a></p>');
    $('#add_color').append(addColorLink);

    // Hide the submit button
    $('#submit_button').hide();

    // Function to setup color picker on a text input
    function setupColorPicker(element) {
      $(element).ColorPicker({
        onShow: function(colpkr) {
          $(colpkr).fadeIn(500);
          return false;
        },
        onHide: function(colpkr) {
          $(colpkr).fadeOut(500);
          return false;
        },
        onChange: function(hsb, hex, rgb, el) {
          el.parent().css('backgroundColor', '#' + hex);
        },
        onSubmit: function(hsb, hex, rgb, el) {
          el.val(hex);
          el.ColorPickerHide();
        },
        onBeforeShow: function(cal, el) {
          el.ColorPickerSetColor(this.value);
        }
      });
    }

    // Setup color pickers on existing hex_color inputs
    $('.hex_color').each(function() {
      setupColorPicker(this);
    });

    // Handle Add Color link click
    $(document).delegate('#add_color_link', 'click', function(e) {
      e.preventDefault();

      // Clone the last color row
      var newColor = $('.color_row').last().clone();

      // Clear the input values
      newColor.find('input[type="text"]').val('');
      newColor.find('input[type="checkbox"]').prop('checked', false);
      newColor.find('input[type="hidden"]').remove();

      // Toggle odd/even class
      newColor.toggleClass('odd even');

      // Reset background color
      newColor.find('td').eq(2).css('backgroundColor', '');

      // Update IDs and names to avoid conflicts
      var timestamp = new Date().getTime();
      newColor.find('input').each(function(index) {
        var $input = $(this);
        var name = $input.attr('name');
        var id = $input.attr('id');

        if (name) {
          // Replace the index in the name with timestamp
          $input.attr('name', name.replace(/\[\d+\]/, '[' + timestamp + ']'));
        }
        if (id) {
          $input.attr('id', id + '_' + timestamp);
        }
      });

      // Setup color picker on the new hex_color input
      var hexInput = newColor.find('.hex_color');
      setupColorPicker(hexInput);

      // Append to table and focus first input
      $('#colors').append(newColor);
      newColor.find('input').first().focus();
    });

    // Handle delete links
    $(document).delegate('.color_row input[type="checkbox"]', 'click', function() {
      var $row = $(this).closest('tr');
      if ($(this).prev('input[type="hidden"]').length > 0) {
        // Has hidden field, just fade out
        $row.fadeOut();
      } else {
        // No hidden field, remove completely
        $row.fadeOut(function() {
          $(this).remove();
        });
      }
    });
  });
