- cache "color_picker" do
  // Copyright (c) 2007 John Dyer (http://johndyer.name)

  // Permission is hereby granted, free of charge, to any person
  / obtaining a copy of this software and associated documentation
  / files (the "Software"), to deal in the Software without
  / restriction, including without limitation the rights to use,
  / copy, modify, merge, publish, distribute, sublicense, and/or sell
  / copies of the Software, and to permit persons to whom the
  / Software is furnished to do so, subject to the following
  / conditions:
  / 
  / The above copyright notice and this permission notice shall be
  / included in all copies or substantial portions of the Software.
  / 
  / THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  / EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
  / OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  / NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
  / HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
  / WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  / FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
  / OTHER DEALINGS IN THE SOFTWARE.

  %table
    %tr
      %td{ :valign => "top" }
        #cp1_ColorMap
      %td{ :valign => "top" }
        #cp1_ColorBar
      %td{ :valign => "top" }
        %table
          %tr
            %td{ :colspan => "3" }
              #cp1_Preview{ :style => "background-color: #fff; width: 60px; height: 60px; padding: 0; margin: 0; border: solid 1px #000;" }
                %br
          %tr
            %td
              %input#cp1_HueRadio{ :name => "cp1_Mode", :type => "radio", :value => "0" }
            %td
              %label{ :for => "cp1_HueRadio" }
                H:
            %td
              %input#cp1_Hue{ :type => "text", :value => "0", :style => "width: 40px;" }
              \&deg;
          %tr
            %td
              %input#cp1_SaturationRadio{ :name => "cp1_Mode", :type => "radio", :value => "1" }
            %td
              %label{ :for => "cp1_SaturationRadio" }
                S:
            %td
              %input#cp1_Saturation{ :type => "text", :value => "100", :style => "width: 40px;" }
              \%
          %tr
            %td
              %input#cp1_BrightnessRadio{ :name => "cp1_Mode", :type => "radio", :value => "2" }
            %td
              %label{ :for => "cp1_BrightnessRadio" }
                B:
            %td
              %input#cp1_Brightness{ :type => "text", :value => "100", :style => "width: 40px;" }
              \%
          %tr
            %td{ :height => "5", :colspan => "3" }
          %tr
            %td
              %input#cp1_RedRadio{ :name => "cp1_Mode", :type => "radio", :value => "r" }
            %td
              %label{ :for => "cp1_RedRadio" }
                R:
            %td
              %input#cp1_Red{ :type => "text", :value => "255", :style => "width: 40px;" }
          %tr
            %td
              %input#cp1_GreenRadio{ :name => "cp1_Mode", :type => "radio", :value => "g" }
            %td
              %label{ :for => "cp1_GreenRadio" }
                G:
            %td
              %input#cp1_Green{ :type => "text", :value => "0", :style => "width: 40px;" }
          %tr
            %td
              %input#cp1_BlueRadio{ :name => "cp1_Mode", :type => "radio", :value => "b" }
            %td
              %label{ :for => "cp1_BlueRadio" }
                B:
            %td
              %input#cp1_Blue{ :type => "text", :value => "0", :style => "width: 40px;" }
          %tr
            %td
              \#:
            %td{ :colspan => "2" }
              %input#cp1_Hex{ :type => "text", :value => "FF0000", :style => "width: 60px;" }
