- page_title t('thread.index.title')
%h1= yield :title
%table.results
  %tr
    %th= t('thread.index.name')
  - @marcas.each do |marca|
    %tr
      %td{ :class => cycle(:odd,:even)}
        = link_to marca.nombre.titlecase, edit_hilo_path(marca)
- button(:button2, t('thread.index.new'), new_hilo_path)