<% create_top_links ("Disenos","Colores") %>
<div id="top-bar">
<div class="float-left">
	<%= yield :top_link %>
</div>
<div class="float-right">
	<%= yield :log_out %>
</div>
<div class="clear"></div>
</div>